:root {
  --ptsd-box-color: red;
}

.ptsd-box {
  position: absolute;
  z-index: 9998;
  border: 3px solid var(--ptsd-box-color);

  display: flex;
  justify-content: center;
  align-items: end;
}

.ptsd-emotion {
  margin-bottom: -2em;
  font-weight: bold;
  color: var(--ptsd-box-color);
}

.ptsd-btn-start {
  z-index: 9999;
  padding: var(--button-padding-y) var(--button-padding-x);
  border-radius: var(--border-radius-medium);
  background-color: var(--color-background-button-brand);
  font-weight: var(--font-weight-semibold);
}

.ptsd-btn-start:hover {
  background-color: var(--color-background-button-brand-active);
}

.ptsd-btn-start:disabled {
  background-color: var(--color-background-button-disabled);
  cursor: not-allowed;
}